
<div class="relative">
  <app-close-dialog-button (click)="close()" class="absolute top-0 right-0"></app-close-dialog-button>
  <h3 class="text-2xl font-bold mb-3">Update your profile cover</h3>
  <div class="flex gap-2 items-center cursor-pointer mb-4">
    <div *ngFor="let color of colors"
         class="flex items-center justify-center duration-150 w-8 h-8 rounded-full overflow-hidden hover:ring-2"
         (click)="setCoverColor(color[1])"
         [style.background]="color[0]"
    >
  <!--    color[0] is default blue color selected when no metadata present-->
      <mat-icon *ngIf="storage.getUser()?.metaData?.includes(color[1]) ?? color === colors[0]" class="text-white">check</mat-icon>
    </div>
  </div>

  <ngx-dropzone (change)="onSelect($event)" class="mb-4 !border-none !bg-gray-100">
    <div *ngIf="files.length===0" class="mx-auto">Drop JPEG file here</div>
    <ngx-dropzone-preview *ngFor="let file of files" [removable]="true">
    </ngx-dropzone-preview>
  </ngx-dropzone>

  <div class="flex gap-4 justify-end">
    <button class="btn-secondary" (click)="deletePhoto(true)">Delete Cover Photo</button>
    <button class="btn-primary" [class]="uploading?'opacity-50':''" (click)="uploadPhoto()">
      Update
      <div *ngIf="uploading" class="flex justify-between items-center z-10">
        <mat-spinner color="accent" strokeWidth="2" diameter="24"></mat-spinner>
      </div>
    </button>
  </div>
</div>
