<section class="relative p-8 sm:p-16 bg-indigo-50 flex items-center justify-center h-screen overflow-hidden">
  <div *ngIf="!sent">
    <header class="block relative z-10 text-center mb-8">
      <h2 class="w-fit mx-auto text-gray-700 text-3xl lg:text-5xl font-bold relative">
        Contact Us
        <img style="z-index: -1"
             class="absolute inset-0 top-2/3 w-full"
             src="../../../../assets/marketing/landing/line-4.png"
             alt="highlight"
        />
        <img style="z-index: -1"
             class="absolute -right-14 top-1/2 w-12"
             src="../../../../assets/marketing/landing/Arrow_05.png"
             alt="highlight"
        />
      </h2>
    </header>
    <div class="relative z-50 block max-w-lg mx-auto">
      <label for="subject" class="w-full type-secondary">Subject
        <input
          [(ngModel)]="subject"
          type="text"
          id="subject"
          class="w-full input-primary mb-4"
        />
      </label>
      <label for="message" class="w-full type-secondary">Message
        <textarea
          [(ngModel)]="message"
          type="text"
          rows="6"
          id="message"
          class="w-full input-primary resize-none mb-4"
        ></textarea>
      </label>
<!--      <button-->
<!--        (click)="submitContactForm()"-->
<!--        [disabled]="isLoading || !message"-->
<!--        type="submit"-->
<!--        class="btn-primary mx-auto w-full flex items-center justify-center sm:w-fit"-->
<!--      >-->
<!--        Submit-->
<!--        <div *ngIf="isLoading" class="flex justify-between items-center z-10">-->
<!--          <mat-spinner color="accent" strokeWidth="2" diameter="24"></mat-spinner>-->
<!--        </div>-->
<!--      </button>-->
      <app-button
        class="w-full sm:w-fit"
        [disabled]="!message || isLoading"
        (click)="submitContactForm()"
        text="Submit"
        [isLoading]="isLoading"
      ></app-button>
    </div>
  </div>
  <div *ngIf="sent">
    <p class="mb-4 type-secondary">Thanks for reaching out! We'll get back to you as soon as possible.</p>
    <button class="z-10 relative m-auto btn-secondary" (click)="goBack()">
      <mat-icon>arrow_backward</mat-icon>
      Back
    </button>
  </div>
  <img
    class="absolute -right-64 bottom-0 top-0 h-full z-0 opacity-25"
    src="../../../../assets/marketing/landing/contact-vector-2.png"
    alt="vector-2"
  >
</section>

