<button
  class="w-full text-left z-10"
  [class]="isDisabled ? 'opacity-50 cursor-default' : 'opacity-100'"
  (click)="openEreader()"
>
  <mat-card
    class='w-full h-80 relative group border !shadow-sm hover:ring-2 ring-indigo-600 !overflow-hidden !rounded-2xl'>
    <button *ngIf="isTeacher"
            class="w-full z-10 opacity-0 group-hover:opacity-100 !border hover:!bg-gray-100/50 group-hover:!block active:!bg-gray-200/75 !absolute !top-2 !right-2"
            mat-icon-button
            disableRipple
            [matMenuTriggerFor]="beforeMenu"
            (click)="cancelClick($event)">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before" class="!shadow-none border !border-black">
<!--      TODO: FIX IMAGE UPLOAD BUTTON-->
      <button (click)="openImageUpload()"
              [disabled]="true"
              mat-menu-item
              disableRipple
              class="!w-48 !flex !items-center !justify-between"
      >
        <span>Add Cover Image</span>
        <mat-icon class="!text-inherit !mr-0">add_a_photo</mat-icon>
      </button>
      <button (click)="openDeleteBookDialog(book)"
              mat-menu-item
              disableRipple
              class="!w-48 !flex !items-center !justify-between"
      >
        <span>Delete</span>
        <mat-icon class="!text-inherit !mr-0">delete</mat-icon>
      </button>
    </mat-menu>
    <img [src]="imagePath" (error)="loadDefaultImg($event)" [alt]="book.title"/>
    <div
      class="border-t bg-white mb-4 absolute bottom-0 left-0 right-0 p-4 top-[75%]">
      <h2 class='capitalize type-primary text-sm font-medium overflow-hidden truncate'>
        {{book?.title}}
      </h2>
    </div>
    <span *ngIf="book.page" class="text-xs type-secondary absolute top-4 left-4">
        Page {{book.page}}
    </span>
  </mat-card>
</button>
