.container {
  height: 100%;
}
.progressBar {
  width: 100%;
  border-radius: 20px;
  height: 10px;
}

:host ::ng-deep .mat-progress-bar .mat-progress-bar-fill::after {
  //border-top-right-radius: 20% 20px;
  //border-bottom-right-radius: 20% 20px;
}

::ng-deep .mat-progress-bar-fill::after {
  @apply bg-blue-500;
}

::ng-deep .mat-progress-bar-buffer {
  background: #EFF3F9;
}

::ng-deep .mat-progress-bar {
  border-radius: 20px;
}

.views-label {
  color: #4F4F4F;
  font-size: 14px;
}

.label-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.views-counter {
  margin-bottom: 10px;
}

.select {
  width: 100%;
  border: 1px solid #C7C9D9;
  height: 40px;
  border-radius: 4px;
}

::ng-deep {.mat-menu-panel.mat-menu { width: 212px; } }


::ng-deep.mat-menu-panel {
  max-width: none !important;
}

//::ng-deep .mat-form-field-underline {
//  display: none !important;
//}
