<mat-card >
  <mat-card-title>Book Views</mat-card-title>
  <app-increase-box [data]="[31,53,164,795,3124]"></app-increase-box>
<!--  <mat-form-field appearance="none" class="select">-->
<!--    <mat-label>By Course</mat-label>-->
<!--    <mat-select [(ngModel)]="selectedCourse" name="food">-->
<!--      <mat-option *ngFor="let course of api.courses" [value]="course">-->
<!--        {{course.title}}-->
<!--      </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->

  <mat-card-title>{{totalViewsText()}}</mat-card-title>

  <div class="views-counter" *ngFor="let book of api.myBooks">
    <div class="label-grid">
      <span class="views-label">{{book.title}}</span>
      <span class="views-label" style="text-align: right">{{book.views.toLocaleString('en-us')}} {{book.views !== 1?
        'views':'view'}}</span>
    </div>
    <mat-progress-bar class="progressBar" [value]="book.views / maxViews"></mat-progress-bar>
  </div>
</mat-card>
