<div class="relative">
  <header class="mb-4">
    <app-close-dialog-button (click)="close()" class="absolute top-0 right-0"></app-close-dialog-button>
    <h2 class="type-primary font-bold text-xl">About me</h2>
    <p class="type-secondary text-sm">Let your subscribers know who you are!</p>
  </header>
  <textarea class="input-primary resize-none mb-2" [(ngModel)]="bio" rows="6" placeholder="Tell us about yourself..."></textarea>
  <div class="ml-auto w-1/2 flex items-center justify-end gap-3">
    <app-button
      class="w-full"
      (click)="addBio()"
      [isLoading]="isLoading"
      text="Submit"
      [disabled]="isLoading || !bio"
    ></app-button>
  </div></div>
