.mobile-screen {
  height: calc(100vh - 3em);
}

.card-inner-div {
  display: grid;
  grid-template-rows: auto auto auto;
  width: 96%;
  margin-left: 2%;
  grid-row-gap: 7px;
}

.image {
  border-radius: 50%;
  width: 46%;
  margin-left: 10px;
}


.card-container {
  width: 55%;
  padding-top: 39px;
  height: 19rem;
  padding-left: 3%;
  border-radius: 7px;
  padding-right: 3%;
  margin-left: 22%;
}

.title {
  margin-top: 25%;
  text-align: center;
  color: #9DA3AE;
  font-size: 41px;
  margin-bottom: 36px;
  font-weight: 300;
}

.not-registered {
  margin-top: 5px;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}


.options-grid {
  display: grid;
  grid-template-columns: auto auto;
  width: 53%;
  position: absolute;
  bottom: 10%;
  right: -1%;
}

.list {
  list-style: none;
  font-size: 29px;
  color: white;
  cursor: pointer;
  padding-top: 46px;
}

li {
  margin-bottom: 44px;
  margin-right: 40px;
}

.outlet {
  background: #4A5567;
}

.inactive {
  background: transparent;
}

.active {
  background: var(--publify-button);
  color: var(--publify-text-light);
}

.menu {
  position: absolute;
  right: 17px;
  top: 4px;
  cursor: pointer;
}

.exit-icon {
  margin-left: 44px;
  vertical-align: middle;
}
