<div (keyup.enter)="joinWaitList()">
  <ion-card class="w-screen h-screen m-0">
    <div class="h-full w-full flex ion-justify-content-center overflow-y-auto pb-16 md:pb-0" (keyup.enter)="joinWaitList()">
      <div class="h-full w-full lg:w-5/12 flex flex-col ion-justify-content-center bg-white">
        <h1 class="font-bold text-indigo-600 text-center !text-4xl mb-4 md:mb-8">Publify</h1>
        <h2 class="text-xl type-primary text-center font-bold">Join the waiting list!</h2>
        <p class="type-primary text-center text-base mb-4 md:mb-8">
          Already have an account? <button (click)="openLogin()" class="text-indigo-600 hover:text-black underline underline-offset-4">Log in</button>
        </p>
        <div class="type-primary max-w-5xl mx-auto px-4 xs:px-8">

          <div class="w-full mb-4">
            <fieldset class="flex flex-col xs:flex-row items-center w-full xs:gap-4">
              <div class="mb-4 w-full">
                <label for="firstName">First name</label>
                <input type="text" id="firstName" class="input-primary" [(ngModel)]="firstName"/>
              </div>
              <div class="mb-4 w-full">
                <label for="lastName">Last name</label>
                <input type="text" id="lastName" class="input-primary" [(ngModel)]="lastName"/>
              </div>
            </fieldset>
            <fieldset>
              <div class="mb-4">
                <label for="email">Email</label>
                <input type="email" id="email" class="input-primary" [(ngModel)]="email"/>
              </div>
            </fieldset>
          </div>
          <div class="mb-4">
            <app-button
              (onClick)="joinWaitList()"
              [isLoading]="isLoading"
              [disabled]="isLoading || !email || !firstName || !lastName"
              text="Join Waiting List"
            ></app-button>
          </div>
          <div class="block lg:hidden mx-auto text-center">
            <button (click)="openLanding()"
                    class="mx-auto font-medium text-indigo-600 hover:text-black hover:underline underline-offset-4">
              Learn more
            </button>
          </div>
          <div id="buttonDiv" class="w-full"></div>
        </div>
      </div>
      <div class="items-center h-screen justify-center flex-col relative bg-indigo-50 hidden lg:flex w-7/12">
        <img
          class="w-auto max-w-lg h-auto mx-auto mb-8"
          src="../../../../assets/register/woman-register.png"
          alt="boy-reading"
        />
        <div class="mx-auto text-center">
          <button (click)="openLanding()"
                  class="mx-auto font-medium text-indigo-600 hover:text-black hover:underline underline-offset-4">
            Learn more
          </button>
        </div>
      </div>
    </div>
  </ion-card>
</div>
