<button
  [disabled]="disabled"
  (click)="emitClick($event)"
  class="flex gap-1.5 items-center w-full"
  [class.flex-row-reverse]="iconReverse"
  [class.btn-primary]="!type"
  [class.btn-secondary]="type === 'secondary'"
  [class.btn-delete]="type === 'delete'"
  [class.opacity-50]="isLoading"
>
  <mat-icon *ngIf="!isLoading && icon">{{ icon }}</mat-icon>
  <div *ngIf="isLoading" class="flex justify-between items-center z-10">
    <mat-spinner [color]="type!=='delete' ? 'warn': 'warn'" strokeWidth="2" diameter="24"></mat-spinner>
  </div>
  <span *ngIf="!isLoading || icon">{{ text }}</span>
</button>
