<section *ngIf="user.isVerified" class="h-auto overflow-y-auto overflow-x-hidden w-full type-primary">
  <header class="flex items-center justify-between text-2xl md:text-3xl p-8">
    <h2>Hi <strong>{{ user?.firstName }}</strong>, {{ greeting() }}</h2>
    <app-search-bar *ngIf="!user.isTeacher" class="hidden xl:block text-base w-96"></app-search-bar>
  </header>
  <div *ngIf="!isLoading">
    <div *ngIf="api.teachers.length > 0">
      <header class="flex items-center justify-between mx-8">
        <h5 class="font-bold text-xl md:text-2xl">Your teachers</h5>
        <div class="flex items-center gap-2">
          <button (click)="carouselScroll('right', 'teacher-carousel')"
                  class="flex items-center justify-center p-0.5 rounded-full text-indigo-600 bg-indigo-100 hover:bg-indigo-200/50 active:bg-indigo-200/75 duration-150">
            <mat-icon>arrow_backward</mat-icon>
          </button>
          <button (click)="carouselScroll('left', 'teacher-carousel')"
                  class="flex items-center justify-center p-0.5 rounded-full text-indigo-600 bg-indigo-100 hover:bg-indigo-200/50 active:bg-indigo-200/75 duration-150">
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </header>
      <ul
        id="teacher-carousel"
        class="duration-150 scroll-smooth snap-mandatory snap-x w-full overflow-x-auto h-auto py-8 pr-8 flex items-center"
      >
        <li *ngFor="let teacher of api.teachers; let i = index;" class="snap-start pl-8">
          <app-course-button
            [teacher]="teacher"
            [colors]="colors[i]"
          ></app-course-button>
        </li>
      </ul>
    </div>
    <app-book-carousel
      *ngIf="api.myBooks.length > 0"
      title="Recently published"
      [books]="api.myBooks"
    ></app-book-carousel>
  </div>
  <div *ngIf="isLoading" class="absolute inset-0 flex justify-center h-full items-center z-10 px-8">
    <mat-spinner color="primary" strokeWidth="2" diameter="48"></mat-spinner>
  </div>
</section>
