<div class="relative">
  <h2 class="text-2xl font-bold mb-3">Change Password</h2>
  <button
    (click)="close()"
    class="absolute top-0 right-0 flex items-center justify-center type-tertiary bg-gray-50 hover:bg-gray-100 hover:text-gray-600 duration-150 rounded-full p-0.5">
    <mat-icon>close</mat-icon>
  </button>
  <div class="flex flex-col gap-4">
    <app-text-input
      [(inputModel)]="oldPassword"
      type="password"
      label="Old Password"
      placeholder="Old Password"
    ></app-text-input>
    <app-text-input
      [(inputModel)]="newPassword"
      type="password"
      label="New Password"
      placeholder="New Password"
    ></app-text-input>
    <app-text-input
      [(inputModel)]="confirmPassword"
      type="password"
      label="Confirm Password"
      placeholder="Confirm Password"
    ></app-text-input>
    <button class="btn-primary ml-auto" type="submit" (click)="onSubmit()">Change Password</button>
  </div>
  <p *ngIf="message">{{message}}</p>
</div>
