<div
  class="border border-indigo-200 focus-within:border-black focus-within:!shadow-md shadow-indigo-200 flex gap-2 items-center bg-white px-3 py-2 w-full rounded-md outline-none ring-0">
  <mat-icon class="type-secondary">search</mat-icon>
  <input
    type="text"
    class="caret-black w-full border-none bg-transparent focus:border-none outline-none ring-0"
    placeholder="Search"
    [matAutocomplete]="auto"
    [(ngModel)]="searchTerm"
    (ngModelChange)="searchTeachers(searchTerm)"
  />
  <mat-autocomplete autoActiveFirstOption disableRipple #auto="matAutocomplete">
    <mat-option *ngFor="let result of searchResults" (click)="determineRoute(result)" >
      <div class="text-sm flex justify-between items-center whitespace-nowrap">
        <span class="w-5/6 overflow-hidden" style="text-overflow: ellipsis">{{dynamicName(result.item2)}}</span>
        <mat-icon class="!mr-0 w-4 h-4 text-base">
        {{iconName(result.item1)}}
        </mat-icon>
      </div>
    </mat-option>
  </mat-autocomplete>
</div>

<!--[routerLink]="determineRoute(result)"-->
