<div class="relative">
  <header class="mb-4">
    <app-close-dialog-button (click)="close()" class="absolute top-0 right-0"></app-close-dialog-button>
    <h2 class="type-primary font-bold text-xl">Change Password</h2>
    <p class="type-secondary text-sm">Submit the form below to update your password.</p>
  </header>
  <div class="flex flex-col gap-4">
    <app-text-input
      [(inputModel)]="oldPassword"
      type="password"
      label="Old Password"
      placeholder="Old Password"
    ></app-text-input>
    <app-text-input
      [(inputModel)]="newPassword"
      type="password"
      label="New Password"
      placeholder="New Password"
    ></app-text-input>
    <app-text-input
      [(inputModel)]="confirmPassword"
      type="password"
      label="Confirm Password"
      placeholder="Confirm Password"
    ></app-text-input>
    <button class="btn-primary ml-auto" type="submit" (click)="onSubmit()">Change Password</button>
  </div>
  <p *ngIf="message">{{message}}</p></div>
