<div>
  <h2 class="type-secondary mb-3">University Affiliation</h2>
    <input type="text"
           class="input-primary mb-3"
           placeholder="University, college or institution"
           [matAutocomplete]="auto"
           [(ngModel)]="search"
           (ngModelChange)="searchUniversities()"/>
    <mat-autocomplete disableRipple #auto="matAutocomplete">
      <mat-option
        *ngFor="let university of searchOptions"
        (click)="selectUniversity(university)"
      >
        <div class="flex gap-2 items-center">
          <img *ngIf="university?.logo" class="w-5" [src]="university.logo" alt="university emblem"/>
          <span>{{university?.name}}</span>
        </div>
      </mat-option>
      <mat-option *ngIf="search?.length" class="text-right">
        <a href="https://clearbit.com">Logos provided by Clearbit</a>
      </mat-option>
    </mat-autocomplete>
  <div class="w-full flex items-center justify-end gap-3">
    <button (click)="closeDialog()" class="w-full btn-secondary">Cancel</button>
    <button [disabled]="isLoading || !selectedUniversity" class="w-full btn-primary" (click)="submit()">
      <span *ngIf="!isLoading">Submit</span>
      <div *ngIf="isLoading" class="flex justify-between items-center z-10">
        <mat-spinner color="accent" strokeWidth="2" diameter="24"></mat-spinner>
      </div>
    </button>
  </div>
</div>


