<div class="p-8">
  <header class="mb-4">
    <h2 class="text-3xl md:text-2xl lg:text-3xl type-primary">Subscriptions</h2>
  </header>

  <mat-card class="mb-4">
    <table class="table-auto text-left w-full mb-4">
      <tr class="text-base md:!text-xs type-tertiary">
        <th>Subscription</th>
        <th>Next Payment</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>Teacher Demo</td>
        <td>11/21</td>
        <td>Subscribed</td>
      </tr>
      <tr>
        <td>Teacher Demo</td>
        <td>11/25</td>
        <td>Grace Period</td>
      </tr>
    </table>
  </mat-card>

  <div class="flex w-full gap-4">
    <mat-card class="mb-4 w-fit">
      <h2 class="text-base md:text-xs type-tertiary">Projected monthly cost</h2>
      <div class="text-2xl md:text-base font-medium type-primary">
        $<span class="font-normal type-secondary">16.00</span>
      </div>
    </mat-card>

    <mat-card class="mb-4">
      <h2 class="text-base md:text-xs type-tertiary">Current Payment Method</h2>
      <div class="font-normal type-primary">Mastercard ending in 4038</div>
    </mat-card>
  </div>
</div>
