<main class="h-screen w-screen card-content flex items-center justify-center">
  <div *ngIf="!message" class="type-primary rounded shadow-md bg-white p-8 w-full max-w-lg">
    <h2>Forgot Password?</h2>
    <p class="text-sm type-secondary mb-4">We will send you an email to help you reset it!</p>
    <div class="flex items-center gap-4 w-full mb-4">
      <input type="email" placeholder="Email" class="input-primary" [(ngModel)]="email"/>
      <button class="btn-primary" (click)="forgotPassword()">
        <mat-spinner *ngIf="spinner" color="accent" strokeWidth="2" diameter="24"></mat-spinner>
        <span *ngIf="!spinner">Reset password</span>
      </button>
    </div>
    <div class="flex items-center gap-2 w-full mb-4">
      <div class="w-1/2 h-px bg-gray-600"></div>
      Or
      <div class="w-1/2 h-px bg-gray-600"></div>
    </div>
    <p>
      If you remember your password, you can login <button class="underline underline-offset-4 text-indigo-600 hover:text-black" (click)="openLogin()">here</button>!
    </p>
  </div>

  <div *ngIf="message" class="type-primary rounded shadow-md bg-white p-8 w-full max-w-lg">
    <h2>Forgot Password?</h2>
    <p class="text-sm type-secondary mb-4">{{message}}</p>
    <div class="flex items-center gap-4 w-full mb-4">
      <button class="btn-primary" (click)="openLogin()">Login</button>
      <button class="btn-primary" *ngIf="message.includes('No')" (click)="message = ''">Try Again</button>
    </div>
    <p *ngIf="!message.includes('No')">
      Didn't receive an email? <button class="underline underline-offset-4 text-indigo-600 hover:text-black" (click)="message = ''">click to try again</button>
    </p>
  </div>
</main>
