<div class="relative overflow-y-auto">
  <div class="bg-indigo-600 h-32 w-full absolute z-0"></div>
  <app-cover-photo
    *ngIf="teacher"
    [guid]="teacher?.coverPicture"
    class="h-32 w-full absolute z-0 overflow-hidden"
  ></app-cover-photo>
  <div class="flex flex-col md:flex-row items-center justify-between relative z-10 p-8">
    <app-profile-picture *ngIf="teacher"
      [guid]="teacher?.profilePicture" [user]="teacher"
      class="flex items-center justify-center h-48 w-48 !text-5xl"
    ></app-profile-picture>
    <button
      *ngIf="!isLoading"
      class="mt-8 md:mt-28 btn-primary"
      (click)="hasPaymentMethod ? openConfirmDialog() : openPaymentMethodRequiredDialog()"
    >
      {{subscribed? 'Subscribed' : 'Subscribe'}}
      <ion-icon *ngIf="subscribed" name="checkmark-circle"></ion-icon>
    </button>
  </div>
  <div class="p-8 py-0">
    <div class="mb-4">
      <button (click)="viewMore = !viewMore" class="flex items-center gap-2">
        <h2 class="capitalize type-primary font-bold text-2xl md:text-3xl">
          {{ teacher?.firstName }} {{ teacher?.lastName }}
        </h2>
        <mat-icon class="type-secondary">
          {{ viewMore ? 'expand_less' : 'expand_more' }}
        </mat-icon>
      </button>
      <span class="type-secondary text-base" *ngIf="currentUniversity?.[0]?.name">Teacher at
        {{ currentUniversity?.[0]?.name }}</span>
    </div>
    <div *ngIf="viewMore" class="flex flex-col lg:flex-row w-full gap-8 mb-4">
      <div class="w-full lg:w-2/3" *ngIf="teacher?.bio">
        <h5 class="type-primary font-bold text-lg mb-4">About me</h5>
        <p class="type-secondary">{{ teacher?.bio }}</p>
      </div>
      <div class="w-full lg:w-1/3" *ngIf="teacher?.bio">
        <h5 class="type-primary font-bold text-lg mb-4">Affiliated Universities</h5>
        <p class="type-secondary" *ngIf="currentUniversity">{{ currentUniversity[0]?.name }}</p>
      </div>
    </div>
  </div>
  <app-course-carousel
    class="mb-4"
    [simple]="true"
    [courses]="courses"
  ></app-course-carousel>
</div>
