<button
  (mouseover)="hover = !hover"
  (mouseout)="hover = !hover"
  (click)="dynamicNav()"
        class="text-left flex items-start justify-center flex-col text-white rounded-xl h-36 w-64 active:scale-95 duration-150 shrink-0"
>
  <span
    [style.background-color]="hover? colors?.[1] : colors?.[0]"
    [class]="buttonStyle">
    <app-emoji *ngIf="myEmoji" class="text-4xl" [emoji]="myEmoji"></app-emoji>
    <span class="font-bold">{{ course? course.title : teacher.displayName() }}</span>

      <app-profile-picture *ngIf="teacher"
       [user]="teacher"
       [guid]="teacher.profilePicture"
        class="text-base w-10 h-10 rounded-full !border-transparent"
      ></app-profile-picture>
  </span>
</button>
