<div>
  <header class="flex items-center justify-between mx-8">
    <h5 class="font-bold text-xl md:text-2xl">{{ _title }}</h5>
    <div class="flex items-center gap-2">
      <button (click)="carouselScroll('right')" class="flex items-center justify-center p-0.5 rounded-full text-indigo-600 bg-indigo-100 hover:bg-indigo-200/50 active:bg-indigo-200/75">
        <mat-icon>arrow_backward</mat-icon>
      </button>
      <button (click)="carouselScroll('left')"
              class="flex items-center justify-center p-0.5 rounded-full text-indigo-600 bg-indigo-100 hover:bg-indigo-200/50 active:bg-indigo-200/75">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </header>
  <ul [id]="_elementTag"
      class="scroll-smooth snap-mandatory snap-x w-full overflow-x-auto h-auto py-8 pr-8 flex items-center"
  >
    <li *ngFor="let book of _books" class="flex shrink-0 snap-start pl-8">
      <app-book class="w-64 shrink-0" [book]="book"></app-book>
    </li>
  </ul>
</div>
