<main class="h-screen w-screen md:card-content flex items-center justify-center">
  <div class="type-primary rounded shadow-md bg-white p-8 w-full md:max-w-lg">
    <h2>Reset Password for {{email}}</h2>
    <div class="flex items-center gap-4 w-full mb-4">
      <app-text-input
        [(inputModel)]="firstPassword"
        type="password"
        placeholder="New password"
        label="New Password"
      ></app-text-input>
      <app-text-input
        [(inputModel)]="secondPassword"
        type="password"
        label="Confirm new password"
        placeholder="Confirm new password"
      ></app-text-input>
      <button class="btn-primary" (click)="resetPassword()">Reset password</button>
    </div>
    <div class="flex items-center gap-2 w-full mb-4">
      <div class="w-full h-px bg-gray-600"></div>
    </div>
    <p *ngIf="message">{{message}}</p>
    <button class="underline underline-offset-4 text-indigo-600 hover:text-black"  *ngIf="message.includes('email')" (click)="navToForgotPw()">Resend email</button>
  </div>
</main>
