<main class="bg-white overflow-y-scroll font-poppins">
  <nav
    class="bg-indigo-50 fixed top-0 left-0 right-0 flex items-center justify-between h-16 type-primary w-full px-4 md:px-8 z-10">
    <h2 class="text-2xl text-indigo-600 font-bold">Publify</h2>
    <div class="flex items-center gap-4">
      <button
        (click)="openLogin()"
        class="group relative rounded px-4 py-2.5 hover:text-indigo-600 hover:bg-indigo-100/75 duration-150 capitalize font-medium h-10 flex items-center justify-center"
      >
        Login
      </button>
      <button class="btn-primary" (click)="openWaitList()">Waiting List</button>
<!--      <button (click)="openRegistration()" class="duration-150 capitalize btn-primary h-10">Register</button>-->
    </div>
  </nav>
  <div class="z-0 relative">
    <section
      class="relative pt-16 mb-16 lg:mb-0 px-8 flex flex-col lg:flex-row lg:gap-16 items-center justify-evenly bg-indigo-100/50 h-screen">
      <div
        class="relative z-10 text-gray-700 sm:max-w-xl lg:max-w-xl text-center lg:text-left text-3xl lg:text-5xl font-bold">
        <h5 class="leading-1">Empowering the next</h5>
        <h4 class="mb-4 leading-1 relative sm:whitespace-nowrap">generation of <span
          class="relative z-10">educators
            <img
              class="absolute -right-4 top-1 lg:top-2 w-4 lg:w-6"
              src="../../../../assets/marketing/landing/Highlight_05.png"
              alt="exclaiming"
            />
            <img style="z-index: -1"
                 class="absolute inset-0 top-2/3 w-full"
                 src="../../../../assets/marketing/landing/line-3.png"
                 alt="highlight"
            />
          </span>
        </h4>
        <p class="!font-serif text-xl font-normal mb-4 leading-1">Publify is an easy way for educators to share
          course material with their students.</p>
<!--        <button (click)="openRegistration()" class="btn-primary mx-auto lg:mx-0">Register Now</button>-->
        <button (click)="openWaitList()" class="btn-primary mx-auto lg:mx-0">Join the waiting list</button>
      </div>
      <div class="max-w-lg relative z-10">
        <img src="../../../../assets/marketing/landing/student_with_book.png" alt="reading">
      </div>
      <img class="absolute left-0 bottom-0 z-0 w-96" src="../../../../assets/marketing/landing/Vector%201%20(1).png" alt="">
      <img class="absolute right-0 bottom-0 h-full z-0" src="../../../../assets/marketing/landing/Vector%202.png" alt="">
    </section>
    <section class="h-auto lg:h-[500px] p-16 h-fit bg-white text-gray-600">
      <ul
        class="text-center lg:h-full flex flex-col lg:flex-row gap-8 md:gap-16 items-center justify-evenly mb-16 md:mb-0">
        <li class="w-72 sm:w-80 mb-8 lg:mb-0">
          <img class="h-20 max-w-xs h-auto mx-auto mb-4" src="../../../../assets/marketing/landing/lightbulb.png"
               alt="">
          <p class="text-xl font-bold">Take control over the content, design, and distribution of your work.</p>
        </li>
        <li class="w-72 sm:w-80 mb-8 lg:mb-0">
<!--          TODO: remove registration from image-->
          <img
            class="h-20 max-w-xs h-auto mx-auto mb-4"
            src="../../../../assets/marketing/landing/books.png"
            (click)="openRegistration()"
            alt=""
          >
          <p class="text-xl font-bold">Make education more accessible for students of all financial backgrounds.</p>
        </li>
        <li class="w-72 sm:w-80 mb-8 lg:mb-0">
          <img class="h-20 max-w-xs h-auto mx-auto mb-4" src="../../../../assets/marketing/landing/hat.png" alt="">
          <p class="text-xl font-bold">Receive higher payments in royalties & reduce cost for students by up to 90%.</p>
        </li>
      </ul>
    </section>
    <section
      class="block lg:flex items-center justify-around w-full items-center gap-16 relative mx-auto p-8 bg-indigo-50 h-auto lg:h-[500px]">
      <div class="relative mb-4 lg:mb-0 mx-auto lg:mx-0 lg:absolute lg:left-0 lg:bottom-0 max-w-sm lg:max-w-lg z-20">
        <img src="../../../../assets/marketing/landing/team-goals.png" alt=""/>
      </div>
      <div class="block lg:absolute lg:left-1/2 lg:p-8">
        <h2 class="font-bold text-gray-700 text-3xl lg:text-4xl mb-4">Our mission</h2>
        <p class="!font-serif z-20 text-base lg:text-xl max-w-2xl leading-relaxed text-gray-700">
          We aim to empower professors to self-publish their research and teaching materials, enabling them to
          share their knowledge with a global audience and make a meaningful impact in their field. We believe that by enabling
          professors to share their expertise and insights, we can help advance education and scholarship around the
          world.
        </p>
      </div>
    </section>
    <section
      class="relative p-4 sm:p-8 pb-16 sm:p-16 bg-white flex items-center justify-center h-screen overflow-hidden">
      <div>
        <header class="block relative z-10 text-center mb-8">
          <h2 class="w-fit mx-auto text-gray-700 text-3xl lg:text-5xl font-bold relative">
            Contact Us
            <img style="z-index: -1"
                 class="absolute inset-0 top-2/3 w-full"
                 src="../../../../assets/marketing/landing/line-4.png"
                 alt="highlight"
            />
            <img style="z-index: -1"
                 class="absolute -right-14 top-1/2 w-12"
                 src="../../../../assets/marketing/landing/Arrow_05.png"
                 alt="highlight"
            />
          </h2>
        </header>
        <div class="relative z-50 block max-w-lg mx-auto">


          <fieldset class="block sm:flex items-center gap-4 mb-4">
            <label for="name" class="w-full type-secondary">Name
              <input
                [(ngModel)]="name"
                type="text"
                id="name"
                class="w-full input-primary mb-4 sm:mb-0"
              />
            </label>
            <label for="email" class="w-full type-secondary">Email
              <input
                [(ngModel)]="email"
                type="email"
                id="email"
                class="w-full input-primary"
              />
            </label>
          </fieldset>
          <label for="subject" class="w-full type-secondary">Subject
            <input
              [(ngModel)]="subject"
              type="text"
              id="subject"
              class="w-full input-primary mb-4"
            />
          </label>
          <label for="message" class="w-full type-secondary">Message
            <textarea
              [(ngModel)]="message"
              type="text"
              rows="6"
              id="message"
              class="w-full input-primary resize-none mb-4"
            ></textarea>
          </label>
          <app-button
            (onClick)="submitContactForm()"
            text="Send Message"
            [disabled]="!email || !subject || !message || !name || isLoading"
            [isLoading]="isLoading"
          ></app-button>
        </div>
      </div>
      <img
        class="absolute left-0 top-0 bottom-0 w-64 z-0"
        src="../../../../assets/marketing/landing/contact-vector-1.png"
        alt="vector-1"
      >
      <img
        class="absolute -right-64 bottom-0 top-0 h-full z-0 opacity-25"
        src="../../../../assets/marketing/landing/contact-vector-2.png"
        alt="vector-2"
      >
    </section>
  </div>
</main>
