<div>
  <h2 class="type-secondary mb-3">Bio</h2>
  <textarea class="input-primary resize-none mb-2" [(ngModel)]="bio" rows="6" placeholder="Tell us about yourself..."></textarea>
  <div class="flex items-center justify-end gap-3">
    <button (click)="close()" class="w-full btn-secondary">Cancel</button>
    <button [disabled]="isLoading || !bio" class="w-full btn-primary" (click)="addBio()">
      <span *ngIf="!isLoading">Submit</span>
      <div *ngIf="isLoading" class="flex justify-between items-center z-10">
        <mat-spinner color="accent" strokeWidth="2" diameter="24"></mat-spinner>
      </div>
    </button>
  </div>
</div>
