
<mat-card-header>
  <mat-card-title>
    Welcome young Pube!
  </mat-card-title>
</mat-card-header>
<mat-card-content>
<p>
  We're glad you're here.  I'm sure you'll find this place to be a great place to learn.
</p>

<p style="margin-bottom: 20px">Just head over to your email and verify your account, then you can start learning!</p>

<div class="mail-div">
  <div class="mail-div">
  <a href="https://www.gmail.com" target="_blank">
    <img class="mail-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/640px-Gmail_icon_%282020%29.svg.png" alt="Gmail Icon" height="50">
  </a>
  <a href="https://www.outlook.com" target="_blank">
    <img class="mail-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Outlook_Icon.png/640px-Outlook_Icon.png" alt="Outlook Icon" height="50">
  </a>
  <a href="https://www.yahoo.com/mail" target="_blank">
    <img class="mail-icon" src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Yahoo%21_Mail_icon_%282013-2019%29.png" alt="Yahoo Icon" height="50">
  </a>
  </div>
</div>

  <button mat-button (click)="close()">Ok</button>


</mat-card-content>
