<nav
  class="z-30 relative bg-gray-700 w-full h-12 flex justify-between items-center text-white px-16 border-b border-gray-600">
  <button (click)="goBack()" class="flex items-center justify-start w-36">
    <mat-icon>arrow_left</mat-icon>
    Back
  </button>
  <div class="flex items-center justify-center gap-4 w-36 text-center">
    <button (click)="isActive  = !isActive" [matTooltip]="isActive? 'Search' : 'Close'"
      class="duration-150 flex items-center justify-center rounded p-1 hover:bg-gray-600 active:bg-gray-500 hover:shadow-sm">
      <mat-icon>{{ isActive? 'close' : 'search' }}</mat-icon>
    </button>
    <button matTooltip="Zoom Out"
            class="duration-150 flex items-center justify-center rounded p-1 hover:bg-gray-600 active:bg-gray-500 hover:shadow-sm">
      <mat-icon>remove</mat-icon>
    </button>
    <button matTooltip="Zoom In"
            class="duration-150 flex items-center justify-center rounded p-1 hover:bg-gray-600 active:bg-gray-500 hover:shadow-sm">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <h2 class="flex items-center justify-end w-36">Publify</h2>
  <div *ngIf="isActive" class="flex items-center justify-center absolute -bottom-11 left-0 right-0 z-50">
    <div class="w-72 flex items-center gap-1.5 px-2 py-1.5 bg-gray-800 rounded border border-gray-700 shadow-md">
      <mat-icon class="w-fit h-fit text-gray-300">search</mat-icon>
      <input type="text" class="bg-transparent focus:outline-none focus:ring-0 w-full">
    </div>
  </div>
</nav>
