<div class="h-32 w-full absolute overflow-hidden">
<div
  *ngIf="!isImage"
  [style.background]="color"
  class="h-32 w-full absolute"
>
<!--  {{color}}-->
</div>

<div class="duration-150 hover:bg-black/5 group absolute top-0 right-0 left-0 h-32 group flex justify-end p-4">
  <button class="!hidden group-hover:!block z-10" mat-icon-button (click)="openCoverDialog()">
    <mat-icon class="text-white">more_horiz</mat-icon>
  </button>
</div>

<img
  *ngIf="imagePath"
  [style.display]="imageLoaded? '':'hidden'"
  (load)="imageLoaded = true"
  (loadstart)="imageLoaded = false"
  [src]="imagePath"
  alt=""
/>
<mat-spinner *ngIf="!imageLoaded && isImage"></mat-spinner>
</div>
